{% extends 'main/layoute.html' %}

{% block title %}
    <title>Контакты</title>
{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1 class="text-center">Свяжитесь с нами</h1>
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Ваше имя</label>
                <input type="text" class="form-control" id="name" placeholder="Введите имя">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Ваш email</label>
                <input type="email" class="form-control" id="email" placeholder="Введите email">
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Сообщение</label>
                <textarea class="form-control" id="message" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}