{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>

{% endblock %}

{% block content %}
    <h1>Добро пожаловать на сайт {{caption}}!</h1>
    <h2>Урок номер 2 по изучению фреймворка django</h2>
    <p>Мы рады приветствовать вас на нашем втором уроке по изучению Django. Сегодня вы узнаете, как легко создавать веб-страницы и работать с шаблонами.</p>
    <p>Django — это мощный инструмент для создания веб-приложений. С его помощью можно быстро разрабатывать сайты с функционалом любого уровня сложности.</p>
    <p>На этой странице мы демонстрируем пример базовой структуры HTML, интегрированной в шаблон Django.</p>
    <p>Вы можете добавлять заголовки, текст, изображения и любые элементы, чтобы ваш сайт выглядел современно и привлекательно.</p>
    <p>Главное преимущество Django — это возможность легко управлять контентом, изменяя его в файлах шаблонов.</p>
    <p>Продолжайте изучать этот урок, чтобы узнать, как использовать расширенные возможности шаблонов, такие как циклы, условия и подключение статических файлов.</p>
    <p>Если у вас возникли вопросы, обязательно задавайте их! Мы готовы помочь вам на каждом этапе изучения Django.</p>
    <p>Спасибо, что учитесь с нами! Удачи в разработке вашего первого проекта.</p>
{% endblock %}
